:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(18, 18, 18, 0.87);
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
nav {
  position: fixed;
  background: #535bf2;
  inset: 0;
  width: 100dvw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9f9f9;
}
nav > * {
  margin: 0 20px;
}
.title {
  font-size: 1.5em;
  letter-spacing: 3px;
}
.toDoListBox {
  /* position: absolute;
  inset: 0; */
  padding-top: 50px;
  width: 60dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
.resultListBox {
  padding: 5px 30px;
  overflow-y: scroll;
}
li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  animation: 0.5s listGenerated linear;
}
.timeDue {
  background: #646cff;
  color: #f6f6f6;
  padding: 1px 10px;
  border-radius: 50px;
  margin-right: 5px;
}
@keyframes listGenerated {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
li > button {
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  color: #f25e53;
  font-size: 0.6em;
  background: transparent;
  transition: 0.5s ease-in-out;
}
li > button:hover,.favourited{
  border: 1px solid #f25e53;
  background: #f25e53;
  color: #f6f6f6;
}
li > span {
  width: 80%;
}
.addListBox > button {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
}
.addListBox > input {
  width: 88%;
  border: 0;
  border-radius: 80px;
  padding: 0 20px;
  background: transparent;
}
.addListBox > input:focus {
  outline: 1px solid #535bf2;
}
.todoText {
  width: 75%;
  word-wrap: break-word;
}

.addListBox {
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 10px 20px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px #0000001a;
}
.addListBox input[type="time"],select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 120px;
  height: 30px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 10px;
}
.addListBox >input[type="text"] {
  width: 100%;
  height: 40px;
}
input[type="checkbox"]{
  width: 30px;
}
.addListBox>div{
  background: #646cff10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addListBox>div>button{
  background: #646cff;
  color: #f6f6f6;
  border-radius: 15px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0000002e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #646cff70;
}

@media only screen and (max-width: 700px) {
  .toDoListBox {
    width: 100dvw;
  }
  input,select{
    width: 100px;
  }
}
